*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgb(25, 12, 41);
}
.slider {
        position: relative;
        width: 60%;
        overflow: hidden;
}
.images {
    display: flex;
    width: 100%;
}
.images img {
    height: 400px;
    width: 100%;
    transition: all 0.15s ease;
}
.images input {
    display: none;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 5px;
}
.dots label {
    height: 20px;
    width: 20px;
    border-radius: 50%;
    border: solid #fff 4px;
    cursor: pointer;
    transition: all 0.19s ease;
    margin: 5px;
}
.dots label:hover{ background: coral;}

#img1:checked ~ .m1 {
    margin-left: 0;
}
#img2:checked ~ .m2 {
    margin-left: -100%;
}
#img3:checked ~ .m3 {
    margin-left: -200%;
}
#img4:checked ~ .m4 {
    margin-left: -300%;
}
#img5:checked ~ .m5 {
    margin-left: -400%;
}
#img6:checked ~ .m6 {
    margin-left: -500%;
}
}
ul li a{
	text-decoration: none;
	color: #fff;
	padding: 6px 19px;
	border: 2px solid transparent;
	transition: 0.7s ease;
}
ul li a:hover{
	background-color: ghostwhite;
	color: darkblue;
}
li{
	display: var(100000,60,24);
	color: magenta;
}
 li a{
	text-decoration: none;
	color: #whitesmoke;
	padding: 100px 90px;
	border: 2px solid transparent;
	transition: 0.7s ease;
}
li a:hover{
	background-color: #000;
		color: #fff;
	}
li a{background-image: url(./123d.jpeg);
	height: 500px;
	background-size: cover;
	background-position: center;

	}

































